.menu-item {
  &.active {
    > .menu-item-text {
        font-weight: bold;
    }
  }
}


.form-control:focus {
  border-color:  #D81B60;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgb(216, 27, 96) ;
}