<div class="d-flex flex-column flex-grow-1 h-100">
  <!-- header  -->
  <div class="border-bottom d-flex flex-row px-2 align-items-center">
    <!-- <img
      [src]="_fileservice.getStatic('/images/pcp.png')"
      style="height: 53px; object-fit: contain"
      alt=""
    /> -->
    <!-- <img
      [src]="_fileservice.getStatic('/images/integrated-community-pcp.png')"
      style="height: 53px; width: 150px; object-fit: contain"
      alt=""
    /> -->
    <h1>Tojo</h1>
   
    <p class="text-muted small text-end flex-grow-1 text-end  ">

    <div class="p-2">
      <button 
      class=""
        (click)="Signup()"
        type="button"
        class="btn btn-outline-primary"
      >
        Sign up
      </button>
    </div>
      <div class="p-2">
      <button
        (click)="Loginpage()"
        type="button"
        class="btn btn-outline-primary"
      >
        Sign in
      </button></div>

    

  </div>


  <!-- body  -->

  <div class="flex-grow-1 overflow-auto ">
   

    <!-- helpin  -->
    <div class="col-sm-12 row d-flex text-center p-4">
      <div class="p-3">
        <h4><b>Helping Individuals with Intellectual Disabilities</b></h4>
      </div>
      <div class="p-3 px-6">
        <h5>
          Home of the Community Integrators! We are parents and self advocates
          who support those navigating the California Department of
        </h5>
        <h5>
          Developmental Services, helping people with a disability like Autism
          and Down Syndrome.
        </h5>
      </div>
    </div>
    <!-- helping  -->

    <!-- Integradoras  -->
    <div class="p-4 text-center" style="color: #fe7473">
      <h1><b>Integradoras</b></h1>
    </div>

    <div class="d-flex align-items-center justify-content-center">
      <div
        class="col-sm-6 d-flex flex-column justify-content-end align-items-end"
      >
        <div class="d-flex">
          <div class="p-4"><h5><i class="fas fa-chevron-circle-right " style="color: #fe7473"></i></h5></div>
          <div class="p-4"> 
            <h5>
              Parents and Self-Advocates are trained to help families on a
              peer-to-peer basis to obtain benefits that may be available to us
              by the State of California.
            </h5>
          </div>
        </div>
        <div class="d-flex">
          <div class="p-4"><h5><i class="fas fa-chevron-circle-right " style="color: #fe7473"></i></h5></div>
          <div class="p-4">
            <h5>
              Integradoras provide an organic community outreach to guide
              families through the process of obtaining benefits.
            </h5>
          </div>
        </div>
        <div class="d-flex">
          <div class="p-4"><h5><i class="fas fa-chevron-circle-right " style="color: #fe7473"></i></h5></div>
          <div class="p-4">
            <h5>
              Integradoras help identify and address disparity barriers that
              prevent individuals and their families from receiving benefits due
              to them.
            </h5>
          </div>
        </div>
      </div>

      <div class=" col-5 d-flex">
        <img
          [src]="_fileservice.getStatic('/images/Group 954.png')"
          class="img-fluid w-100"
          style="object-fit: contain; height: 350px"
          alt=""
        />
      </div>
    </div>
    <!-- Integradoras end  -->

    <!-- our approach  -->
    <div class="p-4 text-center text-primary">
      <h1><b>Our Approach</b></h1>
    </div>
    <div
      class="text-center d-flex p-4 align-items-center justify-content-center flex-row-reverse"
    >
      <div class="col-sm-6 d-flex flex-column justify-content-end ">
        <div class="d-flex">
          <div class="p-4"><h5><i class="fas fa-chevron-circle-right text-primary"></i></h5></div>
          <div class="p-4">
            <h5>
              Our organic community outreach efforts addresses cultural and
              language issues that prevent families from obtaining equitable
              services.
            </h5>
          </div>
        </div>
        <div class="d-flex">
          <div class="p-4"><h5><i class="fas fa-chevron-circle-right text-primary"></i></h5></div>
          <div class="p-4">
            <h5>
              Our core values are empathy, validation, trust, and respect.
            </h5>
          </div>
        </div>
        <div class="d-flex">
          <div class="p-4"><h5><i class="fas fa-chevron-circle-right text-primary"></i></h5></div>
          <div class="p-4">
            <h5>
              We help integrate individuals with developmental disabilities with
              the systems of service and produce meaningful outcomes.
            </h5>
          </div>
        </div>
      </div>

      <div class=" col-5 d-flex">
        <img
          [src]="_fileservice.getStatic('/images/Group 1410.png')"
          class="img-fluid w-100"
          style="object-fit: contain; height: 350px"
          alt=""
        />
      </div>
    </div>

    <!-- our aproach end -->

    <!-- Programs  -->
    <div class="p-3 text-center text-warning">
      <h1><b>Programs</b></h1>
    </div>

    <div class="d-flex align-items-center col-sm-12 justify-content-center p-4">
      <div
        class="col-sm-6 d-flex flex-column justify-content-end align-items-end"
      >
        <div class="d-flex">
          <div class="p-4"><h5><i class="fas fa-chevron-circle-right text-warning"></i></h5></div>
          <div class="p-4">
            <h5>
              Cyber Cafecitos are weekly virtual meetings held for individuals,
              families, and integradoras for the purpose of discussing issues
              and their solutions.
            </h5>
          </div>
        </div>
        <div class="d-flex">
          <div class="p-4"><h5><i class="fas fa-chevron-circle-right text-warning"></i></h5></div>
          <div class="p-4">
            <h5>
              Self Determination Program introduces individuals and families to
              the creation of Person-Centered Plans and Independent Facilitator
              training.
            </h5>
          </div>
        </div>
        <div class="d-flex">
          <div class="p-4"><h5><i class="fas fa-chevron-circle-right text-warning"></i></h5></div>
          <div class="p-4">
            <h5>
              Other programs include a Siblings Group, Allianza de Hombres/Mens
              Group, LIDER, Mi Vida Self Advocate Group, En Comunidad, ICC Micro
              Enterprises, ICC Yellow Pages, and ICC Vision YouTube Channel.
            </h5>
          </div>
        </div>
      </div>

      <div class=" col-5 d-flex">
        <img
          [src]="_fileservice.getStatic('/images/Group 1317.png')"
          class="img-fluid w-100"
          style="object-fit: contain; height: 350px"
          alt=""
        />
      </div>
    </div>
    <!-- Programs end  -->

    <div class="d-flex my-background col-sm-12 my-4">
      <div class="col-sm-7">
        <h1 class="text-white text-center">United We Stand</h1>
        <h5 class="text-white text-center px-5">
          “Once social change begins, it cannot be reversed. You cannot
          un-educate the person who has learned to r ead. You cannot humiliate
          the person who feels pride. You cannot oppress the people who are not
          afraid anymore.”
        </h5>
        <h3 class="text-end text-white px-2">~ Cesar Chavez</h3>
      </div>
      <div
        class="col-sm-5 leftcircle align-items-center justify-content-center p-3"
        style="background-color: #ffee9a"
      >
        <h1 class="text-center">Stand With Us</h1>
        <h4 class="text-center">FOR MORE INFORMATION</h4>
        <div class="align-items-center d-flex justify-content-center">
          <div class="p-2">
            <h1>
              <a href="https://www.w3schools.com"
                ><i class="fa fa-instagram text.dark" aria-hidden="true"></i
              ></a>
            </h1>
          </div>
          <div class="p-2">
            <h1>
              <a href="https://www.w3schools.com"
                ><i class="fa fa-facebook-square" aria-hidden="true"></i
              ></a>
            </h1>
          </div>
          <div class="p-2">
            <h1>
              <a href="https://www.w3schools.com"
                ><i class="fa fa-twitter-square" aria-hidden="true"></i
              ></a>
            </h1>
          </div>
          <div class="p-2">
            <h1>
              <a href="https://www.w3schools.com">
                <i class="fa fa-youtube-square" aria-hidden="true"></i
              ></a>
            </h1>
          </div>
        </div>
      </div>
    </div>

    <div class="align-items-center justify-content-center d-flex">
      <h1 class="text-primary">Our Community Partner Groups</h1>
    </div>

    <div
      class="col-sm-12 d-flex align-items-center d-flex justify-content-center"
      style="height: 250px"
    >
      <div
        class="col-sm-2 p-3 align-items-center d-flex justify-content-center"
      >
        <img
          [src]="_fileservice.getStatic('/images/avseed and grow.jpg')"
          class="img-fluid"
        />
      </div>
      <div
        class="col-sm-2 p-3 align-items-center d-flex justify-content-center"
      >
        <img
          [src]="_fileservice.getStatic('/images/Cristoparalasnaciones.png')"
          class="img-fluid"
        />
      </div>
      <div
        class="col-sm-2 p-3 align-items-center d-flex justify-content-center"
      >
        <img
          [src]="_fileservice.getStatic('/images/DDS_Logo_DRAFT.png')"
          class="img-fluid"
        />
      </div>

      <div
        class="col-sm-2 p-3 align-items-center d-flex justify-content-center"
      >
        <img
          [src]="_fileservice.getStatic('/images/valley muntain.png')"
          class="img-fluid"
        />
      </div>
      <div class="col-sm-1 align-items-center d-flex justify-content-center">
        <img
          [src]="
            _fileservice.getStatic(
              '/images/north-los-angeles-county-regional-center.png'
            )
          "
          class="img-fluid"
        />
      </div>
    </div>

    <div
      class="col-sm-12 d-flex align-items-center d-flex justify-content-center"
      style="height: 250px"
    >
      <div
        class="col-sm-2 p-3 align-items-center d-flex justify-content-center"
      >
        <img
          [src]="_fileservice.getStatic('/images/DRCLOGO.jpg')"
          class="img-fluid"
        />
      </div>
      <div
        class="col-sm-2 p-3 align-items-center d-flex justify-content-center"
      >
        <div>
          <h1>Stanford Law School</h1>
        </div>
      </div>
      <div
        class="col-sm-2 p-3 align-items-center d-flex justify-content-center"
      >
        <img
          [src]="_fileservice.getStatic('/images/public council.gif')"
          class="img-fluid"
        />
      </div>
      <div
        class="col-sm-2 p-3 align-items-center d-flex justify-content-center"
      >
        <img
          [src]="_fileservice.getStatic('/images/DVU Logo.jpg')"
          class="img-fluid"
        />
      </div>
    </div>

    <div
      class="col-sm-12 d-flex align-items-center d-flex justify-content-center"
      style="height: 250px"
    >
      <div
        class="col-sm-2 p-3 align-items-center d-flex justify-content-center"
      >
        <img
          [src]="_fileservice.getStatic('/images/scdd.png')"
          class="img-fluid"
        />
      </div>
      <div
        class="col-sm-1 p-3 align-items-center d-flex justify-content-center"
      >
        <img
          [src]="_fileservice.getStatic('/images/White-and-Case.jpg')"
          class="img-fluid"
        />
      </div>
      <div
        class="col-sm-2 p-3 align-items-center d-flex justify-content-center"
      >
        <img
          [src]="_fileservice.getStatic('/images/harbor regional center.png')"
          class="img-fluid"
        />
      </div>
    </div>

    <!-- body  -->
    <div class="border-top d-flex flex-row p-4 align-items-center">
      <p class="text-muted small flex-grow-1">stay in touch</p>
      <p class="text-muted small flex-grow-1 text-end">
        2023 &#169; Kareinfinity Technologies Pvt. Ltd.
      </p>
    </div>
  </div>
</div>
