<div class="h-100 d-flex flex-column">
  <div class="d-flex px-3 pt-2">
    <!-- <div
      routerLink="metadata"
      routerLinkActive="border rounded border border-primary bg-secondary text-primary"
      class="menu-item px-3 py-1 cursor-pointer"
    >
      <p class="menu-item-text">Metadata</p>
    </div> -->
    <!-- <div
      routerLink="referencetype"
      routerLinkActive="border rounded border border-primary bg-secondary text-primary"
      class="menu-item px-3 py-1 cursor-pointer"
    >
      <p class="menu-item-text">Reference Type</p>
    </div>
    <div
      routerLink="referencevalue"
      routerLinkActive="border rounded border border-primary bg-secondary text-primary"
      class="menu-item px-3 py-1 cursor-pointer"
    >
      <p class="menu-item-text">Reference Value</p>
    </div> -->
    <!-- <div
      routerLink="tax"
      routerLinkActive="border rounded border border-primary bg-secondary text-primary"
      class="menu-item px-3 py-1 cursor-pointer"
    >
      <p class="menu-item-text">Tax</p>
    </div> -->
    <div
      routerLink="profile"
      routerLinkActive="border rounded border border-primary bg-secondary text-primary"
      class="menu-item px-3 py-1 cursor-pointer"
    >
      <p class="menu-item-text">Profile</p>
    </div>

    <!-- <div
      routerLink="user"
      routerLinkActive="border rounded border border-primary bg-secondary text-primary"
      class="menu-item px-3 py-1 cursor-pointer"
    >
      <p class="menu-item-text">Users</p>
    </div> -->
  </div>

  <div class="flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>
